body {
  background: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  height: 1319px;
  justify-content: center;
  margin: 0 auto;
  background: black;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

aside {
  width: 370px;
  height: 1319px;
  background: #060e09;
}

.cv-photo {
  margin-top: 25px;
}

.header-secondary {
  position: relative;
  color: #ffffff;
  margin-bottom: 0px;
  margin-top: 8px;
}

.contact-links {
  position: relative;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.list-secondary {
  position: relative;
  font-size: 14px;
  line-height: 17px;
  color: #ff571f;
  margin-top: 5px;
  margin-left: 3px;
  padding-left: 0;
  list-style-position: inside;
}

.list-secondary-item {
  position: relative;
  color: #ffffff;
}

.contact-block {
  position: relative;
  margin-top: 20px;
  margin-left: 35px;
}

.tech-skills-block {
  position: relative;
  margin-top: 55px;
  margin-left: 35px;
}

.soft-skills-block {
  position: relative;
  margin-top: 55px;
  margin-left: 40px;
  padding-bottom: 34px;
}

.small-header-secondary {
  color: #ff571f;
  margin-bottom: 0px;
  margin-top: 20px;
}

/* .horizontal-line-secondary {
  position: relative;
  color: #ffffff;
  opacity: 0.2;
  font-weight: 150;
} */

.phone-icon {
  border-radius: 5px;
  position: relative;
  background-color: #ff571f;
  top: 6px;
  margin-right: 8px;
}

.email-icon {
  border-radius: 5px;
  position: relative;
  background-color: #ff571f;
  top: 6px;
  margin-right: 8px;
  margin-top: 8px;
}
