body {
  background: black;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  justify-content: left;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

main {
  padding: 60px 88px 102px 88px;
}

aside {
  width: 370px;
  background: #060e09;
}

.cv-photo {
  margin-top: 25px;
}

.header-secondary {
  position: relative;
  color: #ffffff;
  margin-bottom: 0px;
  margin-top: 8px;
}

.contact-links {
  position: relative;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.list-secondary {
  position: relative;
  font-size: 14px;
  line-height: 17px;
  color: #ff571f;
  margin-top: 5px;
  margin-left: 3px;
  padding-left: 0;
  list-style-position: inside;
}

.list-secondary-item {
  position: relative;
  color: #ffffff;
}

.contact-block {
  position: relative;
  margin-top: 20px;
  margin-left: 35px;
}

.tech-skills-block {
  position: relative;
  margin-top: 55px;
  margin-left: 35px;
}

.soft-skills-block {
  position: relative;
  margin-top: 55px;
  margin-left: 40px;
  padding-bottom: 34px;
}

.small-header-secondary {
  color: #ff571f;
  margin-bottom: 0px;
  margin-top: 20px;
}

/* .horizontal-line-secondary {
  position: relative;
  color: #ffffff;
  opacity: 0.2;
  font-weight: 150;
} */

.phone-icon {
  border-radius: 5px;
  position: relative;
  background-color: #ff571f;
  top: 6px;
  margin-right: 8px;
}

.email-icon {
  border-radius: 5px;
  position: relative;
  background-color: #ff571f;
  top: 6px;
  margin-right: 8px;
  margin-top: 8px;
}

.main-description {
  width: 450px;
}

.position-title {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

h1 {
  top: 5%;
  position: relative;
  width: 280px;
  height: 144px;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
  width: auto;
}

.projects {
  width: 485px;
  margin-top: 40px;
  margin-bottom: 51px;
}

.list-primary {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 0;
  list-style-position: inside;
}

.list-primary-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
  text-decoration: none;
}

.header-primary {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 12px;
}

.position-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
}

.highlight-orange {
  color: #ff571f;
}

.highlight-black {
  color: #000000;
}

.position-dates {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #a8a8a8;
}

.position-list {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 0;
  list-style-position: inside;
}

.employment-block {
  margin-top: 16px;
  margin-bottom: 20px;
}

.education-block {
  margin-top: 43px;
  margin-bottom: 107px;
}

.flex-main-block {
  display: flex;
  width: 50%;
}

.flex-main-block-item {
  flex: 1;
}

.main-block-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
  width: 400px;
}
