body {
  background: #faf5f5;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  justify-content: center;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

aside {
  width: 370px;
  background: #060e09;
}

.cv-photo {
  margin-top: 25px;
}

.header-secondary {
  color: #ffffff;
  margin-bottom: 0px;
}

.contact-links {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.5;
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.list-secondary {
  font-size: 14px;
  line-height: 24px;
  color: #fb6d3a;
  margin-top: 5px;
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
}

.list-secondary-item {
  color: #ffffff;
}

.contact-block {
  margin-top: 51px;
  margin-left: 40px;
}

.tech-skills-block {
  margin-top: 47px;
  margin-left: 40px;
}

.soft-skills-block {
  margin-top: 44px;
  margin-left: 40px;
}

.small-header-secondary {
  color: #fb6d3a;
  margin-bottom: 0px;
}
